# =========================
# Python cache & build files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual environment
# =========================
venv/
.env